body{ font-size: 15px; max-width: 1600px; margin: auto; }
.r{ font-size: 10px; }
pre { font-size: 16px; }
p { padding-top: 5px; padding-bottom: 4px; }
h1 { font-size: 28px; }
h2 { font-size: 25px; }
h3 { font-size: 21px; }
